{% extends 'shablon.html' %}

{% block content %}
    <body style="background-size: 100%; background-image: url('https://gx.net.ua/news_images/1458422355.jpg')">
        <div class="font-weight-bold d-flex justify-content-center " style="text-align: center; margin: 5% auto">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'partial/form.html' with button_text='сохранить' %}
                <br>
                <a href="{% url "all_accounts" user.id%}"><button type="button" class="btn btn-warning">Отмена</button></a>
            </form>

        </div>
    </body>
{% endblock %}